@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Poppins&family=Ubuntu:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

body {
  background-image: url(skiin.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

/* nav bar */




nav li a:hover {
  background-color: gainsboro;
  /* display: block; */
  color: #04aa6d;
}

.navbar-scroll {
  background-color: rosybrown !important;
  transition: background-color 0.3s ease;
}

nav #label {
  /* font-family: 'Sofia', cursive; */
  font-family: "Aladin", cursive;
  font-weight: 700;
  font-size: 30px;
}

.nav li a {
  text-decoration: none;
  color: white;
  display: block;
  font-family: sans-serif;
  border-radius: 5px;
  /* padding: 10px; */
}

nav form button a {
  text-decoration: none;
  color: black;
}
/* end of nav */













/* Start of div1 */

.shop1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;
  margin-top: 20em;
  /* width: 100%; */
  /* height: 100vh; */
}

.shop {
  /* padding: 150;
    margin-top: 150px; */

  /* margin-top: 5em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.shop h1 {
  text-align: center;
  font-weight: 900;
  font-size: 7em;
  /* text-transform: uppercase; */
  /* width: 30%; */
  /* position: relative;
    left: 140px; */
  color: white;
  text-shadow: 2px 2px 8px rgb(112, 105, 105);
}

.shop button {
  /* margin-left: 750px; */
  padding: 1em 2em;
  font-size: 12px;
  border: none;
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  place-content: center;
}

.shop button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.shop button:hover {
  background-color: thistle;
  color: white;
}

.what {
  text-align: center;
  /* text-transform: uppercase; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Sofia', cursive; */
  /* text-shadow:  2px 2px 30px black; */
  color: white;
  font-size: 2em;
  margin-left: 0px;
  text-shadow: 2px 2px 8px rgb(112, 105, 105);

  /* font-weight: 900; */
}

/* End of div1 */











/* Form Start */

.division {
  display: flex;
  /* margin-bottom: 100px; */
  /* margin-top: 150px; */
}

.login {
  /* float: left; */
  /* padding: 16px; */
  /* margin-top: 10px; */
  margin-bottom: 150px;
  width: 70%;
}

.form {
  height: 100%;
  width: 100%;
  /* background-color:#222; */
  /* border-radius: 10px; */
  /* border: 2px solid black;
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6); */
  padding: 50px 35px;
  margin-left: 10px;
  border-right: 2px solid black;
}

.formm {
  height: 100%;
  width: 100%;
  /* background-color:#222; */
  border-radius: 10px;
  /* border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.6); */
  padding: 50px 35px;
  margin-right: 100px;
}

form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.username {
  height: 50px;
  width: 100%;
  background-color: white;
  /* border-radius: 13px; */
  padding: 0 10px;
  margin-bottom: 58px;
  font-size: 14px;
  font-weight: 300;
  color: #080710;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.username1 {
  height: 50px;
  width: 100%;
  background-color: white;
  /* border-radius: 13px; */
  padding: 0 10px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #080710;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

.textarea {
  width: 100%;
  height: 70%;
  border-radius: 9px;
  padding: 20px;
  border: 2px solid black;
  color: #000;
}

.but {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 40%; */
  background-color: black;
  color: white;
  padding: 1em 2em;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  /* margin-left: 120px; */
}

.but:hover {
  background-color: #04aa6d;
}

/* End of Form */

/* Footer */
#link a {
  text-decoration: none;
  color: white;
}

#link p a:hover {
  color: sienna;
}
/* End of footer */




#myBtn  {
    /* display: none  !important; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rosybrown;
    color: white;
    cursor: pointer;
    padding: 1em .25em;
    border-radius: 80px;
    transition: opacity 0.3s;
}




#myBtn  img{
    width: 50%;
    transform: rotate(-90deg);
    color: white;
}


































@keyframes myAnim {
    0% {
      opacity: 0;
      transform: translateY(250px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
























































































/* Responsive */



@media (max-width: 992px) {


    body{
        /* background-image: none; */
        background-color: rosybrown;
         /* display: none; */
    }

    
  .shop1 {
    display: none;
    justify-content: center;
    align-items: center;
    height: none;
    margin-top: 1em;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: -100px; */
    width: 100%;
    /* margin-bottom: 50px; */
    margin-top: 1em;
  }

  .shop h1 {
    /* width: 200%; */
    /* margin-left: -20px; */
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .what {
    text-align: center;
    /* width: 180%; */
    color: rgb(255, 255, 255);
    font-size: 1em;
    
  }

  .what br{
    display: none;
  }

  .shop button {
    /* margin-left: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    background-color: tomato;
    color: white;
  }
  /* End of div1 */


  /* start */
  .division {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-left: 1px; */
    margin-top: 2em;
    padding: 0em 9em;
  }



  .login {
    width: 100%;
    /* height: 30%; */
    display: grid;
    padding: 1em 3em;

  }

  .form {
    border: none;
    width: 100%;
    /* margin-left: 10px; */
  }

  .formm {
    border: none;
    width: 100%;
    /* margin-left: 10px; */
  }

  .but {
    display: grid;
    align-items: center;
    width: 100%;
    /* margin-left: 10px; */
    color: white;
    background-color: #222;
    margin-top: 30px;
  }
}




@media (max-width: 858px) {

    body{
        /* background-image: none; */
        background-color: rosybrown;
         /* display: none; */
    }

  nav .navImg {
    color: rgb(255, 250, 250) !important;
    font-weight: 100;
    font-size: 2em;
  }

  .shop1 {
    display: none;
    justify-content: center;
    align-items: center;
    height: none;
    margin-top: 1em;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: -100px; */
    /* width: 100%; */
    margin-bottom: 50px;
    margin-top: 1em;
  }

  
  .what {
    text-align: center;
    /* width: 180%; */
    color: black;
    font-size: 1em;
  }

  .shop button {
    /* margin-left: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    background-color: tomato;
    color: white;
  }



  .division {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-left: 1px; */
    margin-top: 3em;
    padding: 0em 9em;
  }

}










































@media (max-width: 768px) {


    body{
        /* background-image: none; */
        background-color: rosybrown;
         /* display: none; */
    }


  /* Start of div1 */

  .shop1 {
    display: none;
    justify-content: center;
    align-items: center;
    height: none;
    margin-top: 1em;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: -100px; */
    width: 100%;
    /* margin-bottom: 50px; */
    margin-top: 1em;
  }

  .shop h1 {
    /* width: 200%; */
    /* margin-left: -20px; */
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .what {
    text-align: center;
    /* width: 180%; */
    color: rgb(255, 255, 255);
    font-size: 1em;
    
  }

  /* .what br{
    display: none;
  } */

  .shop button {
    /* margin-left: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    background-color: tomato;
    color: white;
  }
  /* End of div1 */

  /* start */
  .division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-left: 1px; */
    margin-top: 15em;
    padding: 0em 9em;
  }



  .login {
    width: 100%;
    /* height: 30%; */
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em 1em;
    align-items: center;
    justify-content: center;

  }

  .form {
    border: none;
    /* width: 100%; */
    /* margin-left: 10px; */
  }

  .formm {
    border: none;
    /* width: 100%; */
    /* margin-left: 10px; */
  }

  .but {
    display: block;
    /* grid-template-columns: 1fr; */
    /* justify-content: center; */
    /* place-content: center; */
    /* align-items: center; */
    /* width: 100%; */
    /* margin-left: 10px; */
    color: white;
    background-color: #222;
    margin-top: 30px;
  }
}
