* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(177, 101, 7);
    background-image: url(skiin.webp); */
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Carousel start */
#carousel h5 {
  font-size: 90px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.carousel{
  animation: myAnim 2s ease 0s 1 normal forwards;

}
#carousel p {
  animation: myAnim 2s ease 0s 1 normal forwards;
  font-size: 2em;
}

nav li a:hover {
  background-color: gainsboro;
  /* display: block; */
  color: #04aa6d;
}

.navbar-scroll {
  background-color: rosybrown !important;
  transition: background-color 0.3s ease;
}

nav form button a {
  text-decoration: none;
  color: black;
}

.shop_div {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

/* Start of price card */

.price {
  display: flex;
  /* justify-content: center;
    align-items: flex-start; */
  margin-top: 20px;
  /* flex-direction: row; */
  /* width: 25%; */
  /* margin-right: 20px;
    margin-left: 20px; */
  padding: 2em 3em;
  margin-bottom: 40px;
  /* flex-wrap: wrap; */
  gap: 20px;
  position: relative;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.price h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  /* max-width: 250px; */
  height: 100%;
  box-sizing: border-box;
  /* padding: 20px; */
  text-align: center;
  /* padding: 1em; */
  /* margin-left: 30px; */
  border: none;
  height: 100%;
  transition: transfrom 0.2s;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card1 h6 {
  font-size: 24px;
  margin-bottom: 25px;
  text-align: left;
}

.top-left {
  position: absolute;
  /* position: relative; */
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  color: white;
  background-color: tomato;
  padding: 5px;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
}

.card1 p {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.shop_h3 h3 {
  margin-top: 2em;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

.card1 button {
  /* background-color: #333; */
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  width: 50%;
  background-color: antiquewhite;
  position: relative;
  /* left: 25%; */
  margin-bottom: 20px;
}

/* .card img{
    width: 1500%;
} */

.card1:hover {
  transform: translateY(-10px);
  cursor: grab;
}

.card1 button:hover {
  color: white;
  background-color: turquoise;
}
/* End of price card */

/* Start of Price 11 */
.price11 {
  display: flex;
  /* float: left; */
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  /* flex-direction: row; */
  /* width: 25%; */
  margin-bottom: 50px;
  padding: 20px;
  margin-right: 5px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}
.price11 h3 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: dashed;
}

/* End of price 11 */

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* footer */

footer {
  margin-top: 150px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

footer a {
  text-decoration: none;
  /* list-style-type: none; */
  text-align: left;
  color: #d4d4d4;
}

footer li {
  list-style-type: none;
  text-align: left;
  font-size: 17px;
}

footer a:hover {
  color: aqua;
}
/* end of footer */





#myBtn  {
    /* display: none  !important; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rosybrown;
    color: white;
    cursor: pointer;
    padding: 1em .25em;
    border-radius: 80px;
    transition: opacity 0.3s;
}




#myBtn  img{
    width: 50%;
    transform: rotate(-90deg);
    color: white;
}

















@media (max-width: 858px) {
  /* #headh5 h5{
        font-size: 10px;
    }
     */
  /* start of price card */
  .price,
  .price1,
  .price11 {
    display: flex;
    flex-direction: column;
  }

  .card1,
  .card3,
  .card4 {
    width: 100%;
    /* display: flex; */
  }

  #carousel {
    margin-top: 30em;
  }

  #carousel h5 {
    font-size: 2em;
    margin-top: 31em;
  }

  #carousel p {
    font-size: 0.5em;
  }

  #carousel-inner img {
    width: 200%;
  }
}






/* General height for all carousel items */
.carousel-item {
  min-height: 400px; /* adjust this value as needed */
}

/* Ensure images fill the carousel item */
.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  height: 600px; /* You can adjust this value */
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Optional: Make height larger on small screens */
@media (max-width: 767px) {
  .carousel-item {
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 500px;
  }
}




@media (max-width: 768px) {

  
  nav .navImg {
    /* color: black !important; */
    font-weight: 900;
    
  }
  #headh5 h5 {
    font-size: 10px;
    font-size: 1em;
  }

  .carousel-inner .carousel {
    margin-top: 20em !important;
  }

  /* start of price card */
  .price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 1.3em;
  }

  .card1 {
    width: 100%;
    display: flex;
  }

  .shop_h3 h3 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  #carousel h5 {
    font-size: 1.5em;
    margin-top: 20em;
  }
}
